<body>
<section>
    <!-- WRAPPER -->
    <div id="wrapper">
        <!-- MAIN -->
        <div class="main">
            <!-- MAIN CONTENT -->
            <div class="main-content">
                <div class="container-fluid">
                    <h3 class="page-title">User Manager</h3>
                    <form method="get" action="/admin/add-user">
                        <button type="submit">Add new user</button>
                        </br></br>
                    </form>
                    <div class="list-product">
                        <div>
                            <table id="productTable table table-inverse">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>User Name</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#each users}}
                                    <tr>
                                        <td>{{id}}/td>
                                        <td>{{name}}</td>
                                        <td>{{username}}</td>
                                        <td>{{email}}</td>
                                        <td>{{userrole}}</td>
                                        <td><a href="/student"{{id}} onclick=return EditRole() class="btn btn-outline-primary">Edit Role</a></td>
                                        <td><a href="/student"{{id}} onclick=return ConfirmDelete() class="btn btn-outline-secondary">Delete</a></td>
                                    </tr>
                                {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- END MAIN CONTENT -->
            </div>
        </div>
    </div>
</section>
<!-- END WRAPPER -->
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script>
    var tbody = $('#productTable tbody');


        {{#each users}}
        var tr= $('<tr>').appendTo(tbody);
        tr.append('<td>'+'{{id}}'+'</td>');
        tr.append('<td>'+'{{name}}'+'</td>');
        tr.append('<td>'+'{{username}}'+'</td>');
        tr.append('<td>'+'{{email}}'+'</td>');
        if('{{userrole}}'=="role_user")
            tr.append('<td>'+'User'+'</td>');
        else
            tr.append('<td>'+'Admin'+'</td>');
        tr.append(' <td><a href="/admin/edit-userrole/'+'{{id}}'+'" onclick="return EditRole()">Edit Role'+'</td>');
        tr.append('<td><a href="/admin/delete-user/'+'{{id}}'+'" onclick="return ConfirmDelete()">Delete'+'</td>');

        {{/each}}

    function ConfirmDelete()
    {
        var x = confirm("Are you sure you want to delete?");
        if (x)
            return true;
        else
            return false;
    }
    function EditRole(){
        var x=confirm("Do you wand change role?");
        if (x)
            return true;
        else
            return false;
    }

</script>